/* @include normalize */
/* @include bootstrap.min */

html {
  height: 100%;
}

#main {
  width: 960px;
  margin: 0 auto;
}

#img_holder {
  overflow: auto;

  img {
    width: auto;
    max-width: none;
    height: 300px;
    min-height: 300px;
  }
}
